{% extends "layout.html.twig" %}
{% block content %}

    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">Tabelas</div>

            <div class="panel-body">

                <div id="toolbar">
                    <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                    </select>
                </div>

                <table id="table"
                       class="table table-bordered table-responsive table-hover"
                       data-toggle="table"
                       data-striped="true"
                       data-search="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-pagination="true"
                       data-single-select="true"
                       data-maintain-selected="true"
                       data-show-pagination-switch="true"
                       data-sortable="true"
                       data-show-export="true"
                       data-click-to-select="true"
                       data-flat="true"
                       data-show-refresh="true"
                       data-advanced-search="true"
                       data-toolbar="#toolbar"
                >

                    <thead>
                    <tr>
                        <th data-sortable="true">ID</th>
                        <th data-sortable="true">Query</th>
                        <th data-sortable="true">RUN AT</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log.id }}</td>
                            <td>{{ log.query.nome }}</td>
                            <td>{{ log.runAt|date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

    </div>

{% endblock %}

{% block js %}

    <script>
        var $table = $('#table');
        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable('destroy').bootstrapTable({
                    exportDataType: $(this).val()
                });
            });
        })
    </script>

{% endblock %}