{% extends "layout.html.twig" %}
{% block content %}

    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">Tabelas</div>

            <div class="panel-body">

                <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#tabela">Nova Tabela</a>

                <div id="toolbar">
                    <select class="form-control">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                    </select>
                </div>

                <table id="table"
                       class="table table-bordered table-responsive table-hover"
                       data-toggle="table"
                       data-striped="true"
                       data-search="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-pagination="true"
                       data-single-select="true"
                       data-maintain-selected="true"
                       data-show-pagination-switch="true"
                       data-sortable="true"
                       data-show-export="true"
                       data-click-to-select="true"
                       data-flat="true"
                       data-url="/api/tabelas/from-grid"
                       data-show-refresh="true"
                       data-advanced-search="true"
                       data-toolbar="#toolbar"
                >

                    <thead>
                    <tr>
                        <th data-field="nome" data-sortable="true">Nome</th>
                        <th data-field="rows" data-sortable="true">Registros</th>
                        <th data-field="banco" data-sortable="true">Banco</th>
                    </tr>
                    </thead>

                </table>

            </div>

        </div>

    </div>


    <div class="modal fade" id="tabela" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Adicionar Tabela</h4>
                </div>
                <form class="form-horizontal" action="{{ path('tabela_adicionar') }}" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="nome_relatorio">Nome:</label>
                            <div class="col-sm-10">
                                <input type="text" name="nome_relatorio" id="nome_relatorio" required
                                       class="form-control" autofocus/>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script>
        var $table = $('#table');
        $(function () {
            $('#toolbar').find('select').change(function () {
                $table.bootstrapTable('destroy').bootstrapTable({
                    exportDataType: $(this).val()
                });
            });
        })
    </script>

{% endblock %}